html{
    background-color: rgb(154, 183, 189);
    
}
.btn{
    width: 100%;
    border: 2px solid black;
    background-color: none;
    aspect-ratio: 1 /1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    cursor: pointer;
    color: black;
}

.btn.active{
    background-color: hsl(0, 0%, 100%);}
.btn.inactive{
    opacity: .3;
    background-color: hsl(0, 0%, 100%);
}

.btn:hover,
.btn:focus{
    background-color: hsl(178, 100%, 61%);
    transition: all 0.35s;
}
